<% layout("layouts/boilerPlate1") %>

    <body>

        <!-- card -->
        <div class="container-lg">
            <div class="card offset-sm-2 col-sm-7 mt-3">
                <h2 class="mb-3"><%= DataKey.title %></h2>
                <img src="<%= DataKey.image.url  %>" class="card-img-top" alt="houseImage">
                <div class="card-body">

                    <!-- <div class="card-title" style="margin: 0;"><b>
                            <%= DataKey.title %>
                        </b></div> -->

                    <div class="card-text" style="padding: 0px;">
                        <p>
                            Owned By <%= DataKey.owner.username  %>
                        </p>

                        <p>
                            <%= DataKey.description %>
                        </p>
                        <p>&#8377;<%= DataKey.price.toLocaleString("en-IN") %>
                        </p>
                        <p>
                            <%= DataKey.location %>
                        </p>
                        <p>
                            <%= DataKey.country %>
                        </p>
                    </div>





                        <div class="btnsF2 mt-3">
                            <form action="/allListings/<%= DataKey._id %>/edit" method="GET" class="me-3">
                                <button class="btn btn-danger">Edit</button>
                            </form>
                            <br>
                            <form action="/allListings/<%= DataKey._id %>?_method=DELETE" method="POST" class="">
                                <button class="btn btn-dark">delete</button>
                            </form>
                        </div>






                </div>
            </div>
        </div>

        <!-- this is form number 3 -->
        <% if( currUsersKey){ %>
        <div class="container-lg">
            <div class="card offset-sm-2 col-sm-8 mt-3">
                <form action="/allListings/<%= DataKey._id %>/review" method="POST" novalidate class="needs-validation">

                    <hr>
                    <div>
                        <h4>Leave a Review</h4>
                    </div>

                    <div class="mb-3">
                        <label for="ratingF3" class="form-label" style="font-size: 1.2rem;">Rating</label>
                        <!-- <input type="range" id="ratingF3" min="1" max="5" class="form-range col-sm-4" name="rangeF3"> -->
                        <fieldset class="starability-slot">
                            <legend>First rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="rangeF3" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rangeF3" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rangeF3" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rangeF3" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rangeF3" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rangeF3" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">pls enter rating for review</div>
                    </div>

                    <div class="mb-3">
                        <label for="commentF3" class="form-label" style="font-size: 1.2rem;">Comments</label>
                        <textarea id="commentF3" cols="40" rows="5" class="form-control" name="commentF3" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">plz enter comment for review</div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-dark" >Submit</button>
                    </div>

                </form>
            </div>
        </div>
        <% }else{ %>
            <div class="container-lg">
                <div class="card offset-sm-2 col-sm-8 mt-3">
                    <hr />
                </div></div>
        
        <% } %>


        <!-- reviews are displayed here -->

        <div class="container-lg">
            <div class="card offset-sm-2 col-sm-8 mt-3">
                <div class="row">
                    <h5 class="mb-3">All Reviews</h5>
                    <% for( ele1 of DataKey.reviews){ %>
                        <div class="mb-3 card col-5 me-5" style="border: 1px solid rgb(62, 62, 62);">
                            <div class="card-body">
                                <% if(ele1.owner){ %> <h6 class="card-title">by <%= ele1.owner.username %></h6> <% } %>
                                <% if(!ele1.owner){ %> <h6 class="card-title">by Unknown User</h6> <% } %>
                                
                                <p class="card-text" style="margin-bottom: 0px;"><%= ele1.comment %>
                                    <br/> <p class="starability-result" data-rating="<%= ele1.rating %>">
                                    
                                      </p></p>
                                
                                <% if( currUsersKey){ %>
                                <form action="/allListings/<%= DataKey._id %>/review/<%= DataKey.reviews[0]._id  %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-dark mb-3">Delete</button>
                                </form>
                                <% } %>
                            </div>

                            
                        </div>
                    
                    <% } %>
                </div>
            </div>

        </div>


